.dropDownContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
}

.dropDownHeader {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    display: flex;
    align-items: center;
    transition: 0s;
    color: var(--white);
  }
  button.open {
    transform: rotate(180deg);
  }
}

.dark {
  background-color: rgb(32, 32, 32);
}

.border {
  border: 1px solid var(--border);
}

.dropDownContent {
  width: inherit;
  border-radius: 3px;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  box-sizing: border-box;
  margin-top: 5px;
  display: none;
  padding: 0;
  z-index: 1;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
  }
  &.visibleOption {
    display: block;
  }
}

.dropDownContent button {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  background-color: var(--black-100);
  display: flex;
  align-items: center;
  gap: 7px;
  .icon {
    width: 25px;
    height: 25px;
    overflow: hidden;
    img {
      width: 100%;
      transform: scale(1.1);
    }
  }
  &:hover {
    background-color: var(--grey-300);
  }
}
