@import '/src/css/mixin';

.summonerInfo {
  display: flex;
  align-items: center;
  & > div:first-child {
    display: flex;
    align-items: center;
  }
}

.summonerIcon {
  width: 75px;
  height: 75px;
  border-radius: 3px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.summonerNameTag {
  margin-left: 15px;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Roboto';
  .summonerTag {
    padding-left: 10px;
    font-weight: 400;
    color: var(--white-300);
  }
}

.rankTierContainer {
  margin-left: auto;
}

.rankTypeSelectWrapper {
  padding-left: 85px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  font-weight: 600;
  min-height: 20px;
  .divider {
    height: 20px;
    width: 1.5px;
    background-color: rgb(86, 86, 86);
  }
  .rankTypeSelector {
    cursor: pointer;
    color: var(--white-300);
    &.active {
      color: white;
    }
  }
}

.rankDataContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
  min-width: 200px;
}

.rankTierContainerSpread {
  display: none;
  width: 100%;
  & > div {
    flex: 1;
    &:first-child {
      border-right: 1px solid var(--border);
    }
  }

  .title {
    border-top: 1px solid var(--border);
    background-color: var(--black-100);
    font-size: 13px;
    font-weight: bold;
    padding: 14px 16px;
  }
}

.rankTierIcon {
  width: 70px;
  height: 70px;
  img {
    width: 100%;
  }
}

.rankWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  height: 70px;
  flex: 1;
  min-width: 170px;
}

.rankTier {
  display: flex;
  gap: 3px;
  font-weight: 600;
  font-size: 20px;
}

.rankPoint {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--white-300);
}

.winningWrapper {
  padding-top: 7px;
  font-size: 13px;
  display: flex;
  font-weight: 500;
  gap: 5px;
  span {
    color: var(--white-300);
  }
}

// skeleton

.summonerInfo.skeleton {
  .summonerNameTag {
    height: 60px;
    width: 200px;
  }
}

// 반응형
@include laptop {
  .summonerInfo {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .summonerIcon {
    width: 60px;
    height: 60px;
  }

  .summonerNameTag {
    margin-left: 15px;
    font-size: 35px;
    .summonerTag {
      padding-left: 10px;
    }
  }
  .rankTierContainer {
    display: none;
  }
  .rankTierContainerSpread {
    display: flex;
    margin: 10px 0;
    .rankDataContainer {
      padding: 14px 16px;
      margin-top: 0;
      .rankTierIcon {
        order: 2;
      }
      .rankWrapper {
        order: 1;
      }
    }
  }
}

@include tablet {
  .summonerIcon {
    width: 50px;
    height: 50px;
  }
  .summonerInfo.skeleton {
    .summonerNameTag {
      height: 50px;
      width: 150px;
    }
    .rankTierIcon {
      width: 70px;
      height: 70px;
    }
  }
  .summonerNameTag {
    margin-left: 10px;
    font-size: 25px;
    .summonerTag {
      padding-left: 5px;
    }
  }
  .rankTierContainerSpread {
    flex-direction: column;
    .rankTierIcon {
      width: 50px;
      height: 50px;
    }
    .title {
      border: none;
    }
    & > div:first-child {
      border: none;
    }
    .rankTier {
      font-size: 16px;
    }
    .rankPoint,
    .winningWrapper {
      font-size: 11px;
    }
  }
}
