.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  input {
    padding-left: 10px;
    font-size: 15px;
    &:disabled {
      border-color: rgb(82, 82, 82);
    }
    &.password {
      padding-right: 45px;
    }
  }
  .errorMessage {
    font-size: 12px;
    margin: 5px 0 0;
    color: var(--light-red);
    height: 12px;
  }
  &.error {
    input {
      border-color: var(--light-red);
    }
  }
  .visiblePasswordBtn {
    background-color: var(--back-color);
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--white-100);
    &:hover {
      color: white;
    }
  }
  input:not(:placeholder-shown) + .visiblePasswordBtn {
    display: flex;
  }
}
