.rankSummaryContainer {
  margin-top: 30px;
}

.queueTypeTab {
  display: flex;
  gap: 10px;
}

.queueTypeTabButton {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 5px 7px 5px;
  border-bottom: 3px solid transparent;
  color: grey;
  transition: 0s;
  &.active {
    color: white;
    border-color: white;
  }
}
