@import '/src/css/mixin';

.postModal {
  width: 340px;
  font-size: 12px;
  font-weight: 500;
  & > div {
    display: flex;
  }
}

.basicData {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    border-radius: 50%;
    width: 40px;
  }
  & > div:last-child {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    div {
      align-items: center;
      display: flex;
    }
  }
  .tag {
    color: var(--grey-200);
  }
  .mic {
    color: var(--light-green);
    font-size: 22px;
  }
  .riotBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    padding-right: 2px;
    background-color: red;
    border-radius: 50%;
  }
}

.wrapper > div {
  margin-top: 25px;
  flex: 1;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.tier {
  & > div {
    img {
      width: 45px;
    }
    div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.position {
  & > div {
    & > div {
      display: flex;
      gap: 5px;
      align-items: center;
      img {
        width: 40px;
      }
      .champion {
        border-radius: 50%;
        img {
          width: 35px;
        }
      }
    }
  }
}

.select {
  & > div {
    .queueType {
      margin-top: 5px;
    }
    img {
      width: 40px;
    }
  }
}

.memo {
  margin-top: 10px;
  flex-direction: column;
  .memoContent {
    margin-top: 5px;
    padding: 10px;
    border-radius: 1px;
    background-color: #3c3c3c;
    line-height: 1.2;
    word-wrap: break-word;
  }
}

.closeBtn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-weight: 600;
  border: 1px solid var(--border);
  border-radius: 3px;
  &:hover {
    background-color: var(--grey-300);
  }
}

// 반응형

@include mobile {
  .postModal {
    width: 100%;
  }
}
