.main {
  padding-top: 30px;
}

.summonerDataRefetchButton {
  width: 95px;
  margin: 15px 0 20px;
  button {
    height: 40px;
    font-weight: 700;
    border-radius: 50px;
  }
  .loadingIndicator {
    font-size: 400px;
  }
}
