.main {
  padding-top: 30px;
}

.summonerDataRefetchButton {
  margin: 15px 0 20px;
  height: 40px;
  padding: 0 23px;
  font-weight: 700;
  color: var(--black-100);
  background-color: white;
  border-radius: 50px;
  &.disabled {
    background-color: red;
  }
  .loadingIndicator {
    font-size: 400px;
  }
}
