.homeMain {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.homeSideImage {
  z-index: -1;
  position: absolute;
  top: -300px;
  left: -400px;
  img {
    width: 700px;
  }
}

.searchArea {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 25px;
  margin-top: -200px;
  h1 {
    cursor: pointer;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
  }
}
