.postModal {
  display: flex;
  flex-direction: column;
  width: 520px;
  & > div {
    display: flex;
    gap: 30px;
    & > * {
      flex: 1;
    }
  }
  .dropDown {
    width: 100%;
    :global {
      .dropDownHeader {
        padding: 10px;
        background-color: grey;
      }
      .dropDownContent {
        z-index: 10;
      }
    }
  }
}
