@import '/src/css/mixin';

.matchListContainer {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.matchList {
  flex: 1;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
}

.matchCardContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.matchDataNotFound {
  text-align: center;
  color: var(--grey-200);
  padding: 100px 0;
}

// matchListSummary
.matchListSummary {
  position: sticky;
  top: 30px;
  width: 320px;
  display: flex;
  height: calc(30px / 30 + 30px);
  flex-wrap: wrap;
  .matchListSummaryItem {
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
    width: calc(320px / 10);
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    .championIcon {
      width: 20px;
      height: 20px;
    }
    span {
      font-size: 11px;
      font-weight: bold;
      color: var(--grey-100);
    }
    &.win {
      background: linear-gradient(
        157.73deg,
        rgba(49, 142, 239, 0.1) 0%,
        rgba(49, 142, 239, 0.2) 100%
      );
    }
    &.lose {
      background: linear-gradient(
        157.73deg,
        rgba(239, 96, 49, 0.1) 0%,
        rgba(239, 93, 49, 0.2) 100%
      );
    }
    &.quickShutdown {
      background: linear-gradient(
        157.73deg,
        rgba(71, 71, 71, 0.1) 0%,
        rgba(177, 177, 177, 0.2) 100%
      );
    }
  }
}

// skeleton

.matchListContainer.skeleton {
  .laneSelector {
    height: 38px;
    width: 248px;
  }
  .matchCard {
    width: 100%;
    height: 100px;
  }
  .matchListSummary {
    height: 200px;
  }
}

@include laptop {
  .matchListSummary {
    display: none;
  }
}

@include tablet {
  .optionContainer {
    display: block;
    & > div:last-child {
      margin-top: 15px;
    }
  }
}
