.matchListContainer {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.matchList {
  flex: 1;
}

.optionContainer {
  display: flex;
  justify-content: space-between;
}

.matchCardContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.matchCard {
  border-radius: 3px;
  &.win {
    background-color: rgba(73, 160, 242, 0.1);
    .matchInfo .result {
      color: var(--light-blue);
    }
    .setOpenButton {
      background-color: rgba(73, 160, 242, 0.6);
      &:hover {
        background-color: rgba(73, 160, 242, 0.7);
      }
    }
  }
  &.lose {
    background-color: rgba(242, 84, 73, 0.1);
    .matchInfo .result {
      color: var(--light-red);
    }
    .setOpenButton {
      background-color: rgba(242, 84, 73, 0.6);
      &:hover {
        background-color: rgba(242, 84, 73, 0.7);
      }
    }
  }
  &.quickShutDown {
    background-color: rgba(117, 117, 117, 0.1);
    .matchInfo .result {
      color: #989898;
    }
    .setOpenButton {
      background-color: rgba(117, 117, 117, 0.6);
      &:hover {
        background-color: rgba(117, 117, 117, 0.7);
      }
    }
  }
}

.currentSummonerMatchCard {
  height: 100px;
  display: flex;
}

.currentSummonerMatchCard .content {
  display: flex;
  flex: 1;
  padding: 12px;
}

.matchInfo {
  width: 80px;
  height: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.queueType,
.result {
  font-weight: bold;
}

.timeStamp {
  color: rgb(160, 160, 160);
  flex: 1;
}
.duration {
  color: rgb(160, 160, 160);
}
.SetOpenButton {
  background-color: white;
  width: 40px;
  height: 100%;
}

.currentSummonerMatchCard {
  display: flex;
  flex: 1;
  .currentSummonerData {
    display: flex;
    & > div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      & > div:first-child {
        display: flex;
        gap: 20px;
      }
    }
    .summonerSkills {
      .summonerSpellIcon {
        width: 20px;
        height: 20px;
      }
    }
    .grade {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 5px;
      span:nth-child(2) {
        color: var(--light-red);
      }
    }
    .itemList {
      display: flex;
      gap: 4px;
    }
    .itemIcon {
      width: 25px;
      height: 25px;
    }
  }
  .championIcon {
    width: 45px;
    height: 45px;
  }
  .gradeSummary {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 12px;
    font-weight: 500;
    span {
      color: var(--white-300);
      &:last-child {
        color: var(--light-red);
      }
    }
  }
}

.participantsPreview {
  padding: 4px 12px 4px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    display: flex;
    gap: 10px;
    & > div {
      display: flex;
      gap: 3px;
      align-items: center;
    }
    .previewSummonerInfo {
      width: 65px;
      font-size: 12px;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      color: var(--white-300);
      text-overflow: ellipsis;
      &:hover {
        text-decoration: underline;
      }
    }
    .activeSummoner {
      font-weight: bold;
      color: var(--white-100);
    }
  }
  .previewIcon {
    width: 15px !important;
    height: 15px;
  }
}

.setOpenButton {
  width: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 5px;
  .setOpenIcon {
    font-size: 20px;
  }
}

// matchListSummary
.matchListSummary {
  width: 300px;
  height: 300px;
  background-color: greenyellow;
}
