.errorContainer {
  display: flex;
  align-items: center;
  padding-top: 250px;
  flex-direction: column;
  .alertIcon {
    font-size: 50px;
  }
  .errorMessage {
    margin-top: 15px;
    font-size: 16px;
  }
  .toHomeBtn {
    margin-top: 40px;
  }
}
