.container {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    font-size: 28px;
    color: var(--white-100);
    font-weight: bold;
    text-align: center;
  }
  input,
  button {
    height: 45px;
    width: 100%;
  }
  p {
    font-size: 12px;
    line-height: 1.3;
    color: var(--grey-100);
  }
  form {
    width: 100%;
  }
  button {
    margin-top: 10px;
    font-size: 15px;
    cursor: not-allowed;
    background-color: var(--black-200);
    color: var(--white-300);
    &.isValid {
      cursor: pointer;
      background-color: var(--blue-button);
      color: white;
      &:hover {
        background-color: var(--blue-button-hover);
      }
    }
  }
  a {
    font-size: 12px;

    text-align: start;
    color: var(--white-200);
    &:hover {
      text-decoration: underline;
    }
  }
}
