@import '/src/css/mixin';

.container {
  width: 340px;
  h3 {
    color: var(--white-100);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }
  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input {
    height: 45px;
  }
  .passwordValidatons {
    margin-top: 10px;
    p {
      font-size: 13px;
      font-weight: 600;
      color: var(--grey-100);
    }
    .passwordValidation {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      font-size: 13px;
      color: var(--grey-200);
      svg {
        font-size: 14px;
      }
      &.isValid {
        color: var(--white-100);
        svg {
          color: var(--light-green);
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
}

@include mobile {
  .container {
    width: 100%;
  }
}
