@import '/src/css/mixin';

.container {
  width: 340px;
  h3 {
    color: var(--white-100);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
  }
  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  input,
  button {
    height: 45px;
  }
  .passwordValidatons {
    margin-top: 10px;
    p {
      font-size: 13px;
      font-weight: 600;
      color: var(--grey-100);
    }
    .passwordValidation {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;
      font-size: 13px;
      color: var(--grey-200);
      svg {
        font-size: 14px;
      }
      &.isValid {
        color: var(--white-100);
        svg {
          color: var(--light-green);
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 20px;
    button {
      flex: 1;
      font-size: 15px;
      font-weight: bold;
      &:first-child {
        border: 1px solid var(--white-100);
        color: var(--white-100);
        &:hover {
          background-color: var(--grey-300);
        }
      }
      &:last-child {
        background-color: var(--black-200);
        color: var(--white-300);
        cursor: not-allowed;
        &.isValid {
          cursor: pointer;
          background-color: var(--blue-button);
          color: white;
          &:hover {
            background-color: var(--blue-button-hover);
          }
        }
      }
    }
  }
}

@include mobile {
  .container {
    width: 100%;
  }
}
