.tooptipContent {
  background-color: var(--grey-900);
  padding: 7px;
  border-radius: 5px;
  line-height: 1.4;
  word-break: keep-all;
  display: inline-block;
  z-index: 100;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  .title {
    color: rgb(219, 219, 0);
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
  }
  .body {
    font-size: 11px;
    margin-top: 6px;
  }
}

.tooltip {
  position: relative;
}
