.main {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  & > div {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}

.signupImg {
  img {
    margin-top: -70px;
    width: 500px;
  }
}

.signupWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  h3 {
    font-size: 28px;
    color: var(--white-100);
    font-weight: bold;
  }
  button,
  input {
    color: white;
    border-radius: 3px;
    height: 45px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 15px;
  }
  .emailInputWrapper,
  .verificationCodeInputWrapper {
    display: flex;
    gap: 15px;
    input {
      flex: 1;
    }
    button {
      font-size: 11px;
      font-weight: bold;
      border: 1px solid var(--white-200);
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        background-color: var(--grey-300);
      }
    }
  }
  .signupBtn {
    margin-top: 10px;
    button {
      font-size: 15px;
      background-color: var(--blue-button);
      &:hover {
        background-color: var(--blue-button-hover);
      }
      &:disabled {
        background-color: var(--black-200);
        color: var(--white-200);
        cursor: not-allowed;
        svg {
          font-size: 23px;
        }
      }
    }
  }
  p {
    font-size: 13px;
    margin-top: 70px;
    span {
      padding-left: 10px;
      color: var(--light-blue);
      cursor: pointer;
    }
  }
}
