@import '/src/css/_mixin.scss';

:root {
  --blue-button: #286cff;
  --blue-button-hover: #006aff;
  --red-button: #bb0000;
  --red-button-hover: #ac0000;
  --white-button: #f7f7f7;
  --white-button-hover: #e3e3e3;
  --back-color: #242526;
  --inner: 1100px;
  --grey-900: #141414;
  --border: #6c6c6c;
  --light-border: #4c4c4c;
  --light-red: rgb(255, 93, 93);
  --light-blue: rgb(78, 146, 255);
  --light-blue-hover: rgb(67, 139, 255);
  --white: rgb(246, 246, 246);
  --white-100: #d0d0d0;
  --white-200: #bbbbbb;
  --white-300: #939393;
  --grey-100: #9c9c9c;
  --grey-200: #858585;
  --grey-300: #323232;
  --black-100: rgb(57, 58, 60);
  --black-200: #303030;
  --black-300: #232323;
  --light-green: rgb(0, 231, 0);
  --green: rgb(0, 123, 0);
  --green-hover: #016601;
  --riot-main: #ff1313;
  --min-height: calc(100dvh - 70px - 180px);
}

@include laptop {
  :root {
    --inner: 85%;
  }
}

@include mobile {
  :root {
    --inner: 90%;
  }
}

html {
  font-size: 10px;
  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(166, 166, 166);
    border-radius: 6px;
    &:hover {
      background-color: rgb(195, 195, 195);
    }
  }
}

* {
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  padding: 0;
}

input,
button,
a {
  color: white;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Noto Sans KR' !important;
  background-color: var(--back-color);
  color: rgb(246, 246, 246);
}

.container {
  width: var(--inner);
  left: 0;
  right: 0;
  margin: 0 auto;
}

main {
  margin-top: 30px;
  min-height: var(--min-height);
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.1s;
  cursor: pointer;
  padding: 0;
}

input {
  background-color: transparent;
  border: none;
  padding: 3px 6px;
  outline: none;
  transition: 0.1s;
  letter-spacing: 1px;
  border-radius: 0;
  font-size: 1rem;
}

.tooltip {
  background-color: var(--grey-900) !important;
  padding: 8px 12px !important;
}

.toHomeBtn {
  padding: 12px 23px;
  border-radius: 30px;
  font-size: 14px;
  color: black;
  background-color: var(--white-button);
  &:hover {
    background-color: var(--white-button-hover);
  }
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--min-height);
  width: 100%;
}

.loadingIndicator {
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Toastify__toast-body {
  margin: 4px 0;
  div:last-child {
    padding-top: 2px;
    line-height: 1.2;
    word-break: keep-all;
    font-size: 14px;
  }
}
