:root {
  --blue-button: #286cff;
  --blue-button-hover: #006aff;
  --red-button: #bb0000;
  --red-button-hover: #ac0000;
  --white-button: #f7f7f7;
  --white-button-hover: #e3e3e3;
  --back-color: #242526;
  --inner: 1100px;
  --grey-900: #141414;
  --border: #6c6c6c;
  --light-border: #4c4c4c;
}

html {
  font-size: 10px;
  width: 100dvw;
  overflow-x: hidden;
}

* {
  color: rgb(246, 246, 246);
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Noto Sans KR' !important;
  background-color: var(--back-color);
}

.container {
  width: var(--inner);
  left: 0;
  right: 0;
  margin: 0 auto;
}

#modal-root {
  position: fixed;
  top: 0;
  left: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.1s;
  cursor: pointer;
  padding: 0;
}

input {
  background-color: transparent;
  border: 1px solid;
  border-radius: 2px;
  padding: 3px 6px;
  outline: none;
  border-color: rgb(170, 170, 170);
  transition: 0.1s;
  letter-spacing: 1px;
  font-size: 1rem;
  &:focus {
    opacity: 1;
    border-color: white;
  }
  &.error {
    border-color: red;
  }
}

.error-message {
  padding: 3px;
  color: red;
}

label {
  position: absolute;
  left: -9999%;
  top: -9999%;
}
